<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>

    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
    <script type="text/javascript" src="infinite-tabs.js"></script>
    <script type="text/javascript" src="script.js"></script>

    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="infinte-tabs.css">

</head>
<body ng-app="myApp" ng-controller="myAppController" class="container-fluid">
    <br/><br/><br/>
    <div class="row">
        <div class="col-md-12">
            <h2>Regular Bootstrap Tabs: </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
                <li data-ng-repeat="tab in bootstrapTabs"  class="{{tab.css}}">
                    <a href="{{tab.href}}" data-toggle="tab">{{tab.name}}</a>
                </li>               
            </ul>

            <div class="tab-content">
                <div data-ng-repeat="content in bootstrapTabsContent" role="tabpanel" class="tab-pane {{content.css}}" id="{{content.id}}">{{content.content}}</div>
            </div>
        </div>
    </div>

    <br/><br/><br/>
    <div class="row">
        <div class="col-md-12">
            <h2>Infinite Tabs: </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs infinite-tabs" role="tablist">
                <li data-ng-repeat="tab in tabs"  class="{{tab.css}}">
                    <a href="{{tab.href}}" data-toggle="tab">{{tab.name}}</a>
                </li>               
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="selected-name">See More Tabs Here</span> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                    </ul>
                </li>
            </ul>

            <div class="tab-content">
                <div data-ng-repeat="content in tabsContent" role="tabpanel" class="tab-pane {{content.css}}" id="{{content.id}}">{{content.content}}</div>
            </div>
        </div>
    </div>

    <br/><br/><br/>

    <div class="row">
        <div class="col-md-12">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs infinite-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#tab1b" aria-controls="home" role="tab" data-toggle="tab">Tab 1</a></li>
            <li role="presentation"><a href="#tab2b" aria-controls="profile" role="tab" data-toggle="tab">Tab 2</a></li>
            <li role="presentation"><a href="#tab3b" aria-controls="messages" role="tab" data-toggle="tab">Lonnnnggggg Tab 3</a></li>
            <li role="presentation"><a href="#tab4b" aria-controls="settings" role="tab" data-toggle="tab">Very Lonnnnnnnnnggggggg Tab 4</a></li>
            <li role="presentation"><a href="#tab5b" aria-controls="email" role="tab" data-toggle="tab">Tab 5</a></li>
            <li role="presentation"><a href="#tab6b" aria-controls="email" role="tab" data-toggle="tab">Lonnnnnnggggggg Tab 6 </a></li>
            <li role="presentation"><a href="#tab7b" aria-controls="email" role="tab" data-toggle="tab">Tab 7</a></li>
            <li role="presentation"><a href="#tab8b" aria-controls="email" role="tab" data-toggle="tab">Tab 8</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab1b">Tab 1 Content</div>
            <div role="tabpanel" class="tab-pane" id="tab2b">Tab 2 Content</div>
            <div role="tabpanel" class="tab-pane" id="tab3b">Tab 3 Content</div>
            <div role="tabpanel" class="tab-pane" id="tab4b">Tab 4 Content</div>
            <div role="tabpanel" class="tab-pane" id="tab5b">Tab 5 Content</div>
            <div role="tabpanel" class="tab-pane" id="tab6b">Tab 6 Content</div>
            <div role="tabpanel" class="tab-pane" id="tab7b">Tab 7 Content</div>
            <div role="tabpanel" class="tab-pane" id="tab8b">Tab 8 Content</div>
          </div>

        </div>
    </div>
    
    <br/><br/><br/>

    <div class="row">
        <div class="col-md-2">Left Side</div>
        <div class="col-md-4">

          <!-- Nav tabs -->
          <ul class="nav nav-tabs infinite-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#tab1" aria-controls="home" role="tab" data-toggle="tab">Tab 1</a></li>
            <li role="presentation"><a href="#tab2" aria-controls="profile" role="tab" data-toggle="tab">Tab 2</a></li>
            <li role="presentation"><a href="#tab3" aria-controls="messages" role="tab" data-toggle="tab">Lonnnnggggg Tab 3</a></li>
            <li role="presentation"><a href="#tab4" aria-controls="settings" role="tab" data-toggle="tab">Very Lonnnnnnnnnggggggg Tab 4</a></li>
            <li role="presentation"><a href="#tab5" aria-controls="email" role="tab" data-toggle="tab">Tab 5</a></li>
            <li role="presentation"><a href="#tab6" aria-controls="email" role="tab" data-toggle="tab">Lonnnnnnggggggg Tab 6 </a></li>
            <li role="presentation"><a href="#email3" aria-controls="email" role="tab" data-toggle="tab">Tab 7</a></li>
            <li role="presentation"><a href="#email4" aria-controls="email" role="tab" data-toggle="tab">Tab 8</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab1">Tab 1 Content</div>
            <div role="tabpanel" class="tab-pane" id="tab2">Tab 2 Content</div>
            <div role="tabpanel" class="tab-pane" id="tab3">Tab 3 Content</div>
            <div role="tabpanel" class="tab-pane" id="tab4">Tab 4 Content</div>
            <div role="tabpanel" class="tab-pane" id="tab5">Tab 5 Content</div>
            <div role="tabpanel" class="tab-pane" id="tab6">Tab 6 Content</div>
            <div role="tabpanel" class="tab-pane" id="tab7">Tab 7 Content</div>
            <div role="tabpanel" class="tab-pane" id="tab8">Tab 8 Content</div>
          </div>

        </div>
        <div class="col-md-6">Right Side</div>
    </div>
</body>

<script type="text/javascript">

$(document).ready(function(){
    $(".nav-tabs a").click(function (e) {
      e.preventDefault()

      $(this).tab("show")
    });
});    
  
</script>


</html>