.infinite-tabs .dropdown {
	display: none;
}

.infinite-tabs .dropdown li {
	display: none;
}

.infinite-tabs .dropdown .dropdown-toggle .selected-name {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.infinite-tabs .dropdown .dropdown-toggle .caret {
	position: relative;
	top: -5px;
}

.original-dropdown-name {
	display: none;
}